# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
build/
.gradle/
.DS_Store
*.iml
.idea/
local.properties
captures/

# Gradle files
.gradle
gradle-app.setting
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-wrapper.properties

# Build outputs
*.aar
*.jar
*.jks

# Misc
*.log
*.swp
*.swo
*~
.classpath
.project
.settings/
*.sublime-workspace
